.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-weight: bold;
  }
  span {
    width: 30px;
    height: 2px;
    background: #000;
  }
}
.heading {
  // padding-top: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.trending_container {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 350px;
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  span {
    width: 30px;
    height: 2px;
    background: #000;
  }

  .title {
    position: relative;
    border-right: 1px solid silver;
    padding: 0.6rem;
    .content2 {
      margin-top: 1rem;
      text-align: left;
    }
  }
  .title1 {
    width: 100%;
    flex: 1;

    .content {
      position: relative;
      top: 14rem;
      width: 150px;
      height: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .title2 {
    flex: 8;
    display: flex;
  }
  .title3 {
    flex: 1;
  }
}
.content_m {
  flex: 1;
  padding: 0.5rem;
}
.content_m2 {
  text-align: center;
  align-items: center;
  padding-top: 2rem;

  flex: 1.6;
}
