html,
body {
  background: #fef2f2;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
a {
  text-decoration: none;
}
.full {
  border-right: 1px solid silver;
  border-left: 1px solid silver;
}
